@use "abstracts/mixins";
@use "abstracts/variables";

* {
	box-sizing: border-box;
	font-family: variables.$font-main;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	-ms-overflow-style: none;
	padding: 0;
	scrollbar-width: none;
}

*::-webkit-scrollbar {
	width: 0 !important;
}

html,
body {
	height: 100%;
	margin: 0;
	width: 100%;
}

.text-shadow {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.text-shadow-body {
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

@include mixins.font-face(
	"Sharp Grotesk Regular",
	"/fonts/SharpGroteskRegular",
	normal,
    normal
);

@include mixins.font-face(
	"Sharp Grotesk Book",
	"/fonts/SharpGroteskBook",
	normal,
    normal
);
